<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/styles/headfoot.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="/about">About</a></li>
                <li><a href="/skills">Skills</li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/files/ChristopherBertrand_CV.pdf" download>Download CV</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2025 - Christopher Bertrand. All rights reserved.</p>
        <p>
            <a href="mailto:c.bertrandtjo@gmail.com">Email</a> |
            <a href="https://github.com/zentoboo" target="_blank">GitHub</a>
        </p>
        <p>Personal CV Built with ❤️</p>
    </footer>
</body>

</html>